apiVersion: v1
kind: Service
metadata:
  name: authmiddleware
  labels:
    app: authmiddleware
    component: auth
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: authmiddleware
    component: auth
